* {
 	  box-sizing: border-box;
 	}

body{
  background-color:#0F5F60;
  font-family: Helvetica;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  padding: 0;
  margin:0;
}

.card{
  background-color: white;
  width: 300px;
  margin: auto;
  text-align:center;
}

.contact{
  left:0;
  bottom:0;
  width: 100%;
  background-color:#611110;
  color:white;
  padding: 4px;
}
a{
  color:white;
  font-size:15px;
}
